<h3>Public Chat</h3>
<div class="container">
    <div class="row form-group">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" class="form-control" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" class=" form-control btn-outline-primary" />
        </div>
    </div>
</div>

<br />
    <h3>Private Message</h3>
<br />
<div class="container">

    <div class="row form-group">
        <div class="col-2">To User</div>
        <div class="col-4">@Html.DropDownList("userId",new SelectList(ViewBag.UserList,"Name","Name"),new {@class="form-control"})</div>
    </div>
    <div class="row form-group">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput2" class="form-control" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton2" value="Send Message With connection" class=" form-control btn-outline-primary" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>




@*<script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>*@