@model List<ChatApp2Docs.Models.VMs.UserVM>
@{
    ViewData["Title"] = "Index";
}
@foreach(var item in Model)
{
    <a asp-controller="Home" asp-route-name="@item.Name" asp-action="PrivateChat" >@item.Name</a><br/>
}
